* {
	margin: 0;
	padding: 0;
}

.container {
	width: 960px;
	margin: auto;
	height: 100%;
}

.header {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #eee;
	height: 50px;
	position: relative;
}

h1 {
	display: inline-block;
}

#login-block {
	display: inline-block;
	margin-left: 70px;
}

p {
	padding: 3px 0;
}

button {
	padding: 3px 5px;
}

.controls {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background: #fafafa;
}

select {
	margin-right: 20px;
}

td, th {
	padding: 8px;
}

th {
	text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
