* {
	margin: 0;
	padding: 0;
}

.container {
	width: 960px;
	margin: auto;
	height: 100%;
}

.header {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #eee;
	height: 50px;
	position: relative;
}

h1 {
	display: inline-block;
}

#login-block {
	display: inline-block;
	margin-left: 70px;
}

#login-label {
	position: absolute;
	color: #f02f17;

}

p {
	padding: 3px 0;
}

button {
	padding: 3px 5px;
}

.controls {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background: #fafafa;
}

select {
	margin-right: 20px;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}

table tr:nth-child(n+2) {
	cursor: pointer;
}

table tr:nth-child(n+2):hover {
	background: #deeaf6;
}

td, th {
	padding: 8px;
}

th.sort {
	text-align: left;
	cursor: pointer;
}

th.sort:hover {
	background: #5b9bd5;
}

td:nth-child(3) {
	text-align: right;
}

#overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    display: none;
}

#popup {
	width: 700px;
	height: 500px;
	z-index: 1200;

	position: absolute;
	left: 50%;
	top: 50%;

	margin-left: -350px;
	margin-top: -250px;
	background: #fff;
	border:1px solid #eee;

	display: none;
}

#close {
	position: relative;
	float: right;
	right: 5px;
	top: 5px;
}

#pop-content {
    position: relative;
    width: 660px;
    top: 40px;
    left: 20px;
}

#fio-rus, #fio-eng {
	width: 250px;
}


